* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.Primary-color {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  padding: 12px 35px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
/* Navbar css */
.header {
  background: #fff8f3;
  background-image: url(images/header_bg.png), url(images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.nav-logo {
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
}

/* Banner Section css */
.banner-main {
  margin: 0px 200px;
  display: flex;
  align-items: center;
}
.banner-title {
  color: var(--Dark-01, #181818);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.banner-sub-title {
  color: var(--Dark-02, #474747);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
}
.banner-description {
  color: var(--Dark-03, #757575);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

/* Main Area Started -- CSS */

.section-margin {
  margin-top: 130px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}
.about-main {
  text-align: center;
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-title {
  color: var(--Dark-01, #181818);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}
.section-description {
  color: var(--Dark-03, #757575);
  line-height: 24px;
  margin-bottom: 50px;
  padding: 0px 40px 0px 40px;
  text-align: center;
}

.about-bottom-info {
  display: flex;
}

.about-bottom-info ul {
  list-style: none;
}
.about-bottom-info-sub-title {
  color: #757575;
  font-size: 14px;
  margin-bottom: 10px;
}

/* What i do section */
.what-i-do .section-description {
  margin: 0px 100px;
}

.skill-main {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.skill {
  padding: 20px 20px 30px 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-image {
  width: 36px;
  margin-bottom: 30px;
}
.skill-title {
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.skill-desciption {
  color: #757575;
  font-weight: 400;
  line-height: 28px;
  padding-right: 15px;
}

/* Summary Section CSS */
.summary {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.summary-info {
  display: flex;
  gap: 30px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.summary-two-section-title {
  color: var(--Dark-02, #474747);
  font-size: 22px;
  font-style: bold;
}
.summary-resume-list {
  border-bottom: 1px solid #d1d1d1;
  margin-top: 30px;
}
.summary-resume-list h3 {
  color: var(--Dark-02, #474747);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.summary-resume-list h4 {
  color: var(--Dark-03, #757575);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
}
.summary-resume-list p {
  color: var(--Dark-03, #757575);
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}

/* Contact Style */
.contact {
  display: flex;
  background-color: #fff8f3;
  gap: 100px;
  padding: 100px 200px;
  margin-top: 130px;
}
.display-flex-col-left {
  display: flex;
  flex-direction: column;
}

.footer-section-title {
  color: var(--Dark-01, #181818);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer-section-description {
  color: var(--Dark-03, #757575);
  line-height: 24px;
  margin-bottom: 50px;
}
.contact-social-icon a {
  margin-right: 20px;
}

footer input[type="text"],
input[type="email"],
textarea {
  border-radius: 5px;
  background: var(--White-Color, #fff);
  width: 100%;
  border: 0;
  margin-bottom: 20px;
  padding: 20px;
}
